<div  class="container" style="background: #F0F1F4" class="shadow animated--grow-in" aria-labelledby="messagesDropdown">

  <h6  class="dropdown-header" style="background-color: #673AB7; color: white">
      <!--Mensajes-->
      Incidentes Rechazados
    </h6>
  <br>
    

  <div *ngIf="array.length > 0; else other">
    <table datatable [dtOptions]="dtOptions"  class="table table-hover table-striped table-bordered" cellspacing="0"
    width="100%" [dtTrigger]="dtTriggers">
        <thead>
            <tr style="text-align: center;">
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Fecha Alta</th>
                <th>Adjuntos</th>
                <th>Asignado Previamente</th>
                <th>Motivo</th>
                <th>Accion</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of array" style="text-align: center;">
               <td>{{item.incidente.titulo}}</td>
               <td>{{item.incidente.descripcion | slice:0:20}}...</td>
               <td>{{item.incidente.fechaAlta.dia}}/{{item.incidente.fechaAlta.mes}}/{{item.incidente.fechaAlta.anio}}</td>
               <td *ngIf="item.incidente.adjunto.length == 0 ; else adjunto">NO</td>
               
               <ng-template #adjunto>
                   <td>SI</td>
               </ng-template>
               <td>{{item.equipo.nombre}}</td>
               <td>{{item.motivo}}</td>
               
               <td>
                 <button  (click)="verIncidente(item)" type="button"><i class="fas fa-glasses"></i></button>
                 <button type="button"><i class="fas fa-check-circle"></i></button> 
                 <button  data-toggle="modal" (click)="guardarItem(item)" type="button"><i class="fas fa-times"></i></button>
                
               </td>

                  
            </tr>
        
           
        </tbody>
        <tfoot>
            <tr style="text-align: center;">
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha Alta</th>
                    <th>Adjuntos</th>
                    <th>Asignado Previamente</th>
                    <th>Motivo</th>
                    <th>Accion</th>
                    
    
            </tr>
        </tfoot>
    </table>
    </div>
    <ng-template #other>
        <h6>NO HAY INCIDENTES RECHAZADOS</h6>
    </ng-template>
    <br>
  
    <button  style="margin-left: 10px ; margin-bottom: 10px" mat-raised-button color="primary" (click)="cerrarComponente()">Cerrar lista</button>
  
  <h6  class="dropdown-header" style="background-color: #673AB7; color: white">
      <!--Mensajes-->
      Incidentes Rechazados
    </h6>
  
  </div>


<button  id="auxiliar" data-toggle="modal" data-target="#modalEliminar" type="button" hidden="true"></button>


  <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Mensaje</h3>
        </div>
        <div class="modal-body">
          <h4>¿Desea borrar el incidente rechazado?</h4>
          <h6>Una vez aceptado no será posible volver para atras la acción</h6>
               
        </div>
          <div class="modal-footer">
          <button id="" data-dismiss="modal" type="button" class="btn btn-primary">Cancelar</button>
          <button data-dismiss="modal" (click)="delete()" type="button" class="btn btn-secondary">Aceptar</button>
          
        </div>
      </div>
    </div>
  </div>
  
 
  
  
  
  
   