<div id="main" class="container">
  <div class="row my-2">
      <div class="col-lg-8 order-lg-2">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Perfil</a>
              </li>
              <li class="nav-item">
                  <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Mensajes</a>
              </li>
              <li class="nav-item">
                  <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Editar</a>
              </li>
              <li class="nav-item">
                <a id="dashboard" (click)="iraDashboard()"  class="nav-link">DashBoard</a>
            </li>
          </ul>
          <div class="tab-content py-4">
              <div class="tab-pane active" id="profile">
                  <h5 class="mb-3">Perfil de Usuario</h5>
                  <div class="row">
                      <div class="col-md-6">
                          <h6>Nombre</h6>
                          <p>
                              {{identity.nombre}}, {{identity.apellido}}
                          </p>
                          <h6>Mail</h6>
                          <p>
                              {{identity.correo}}
                          </p>
                      </div>
                      <div class="col-md-6">
                          <h6>Tecnologias</h6>
                          <a style="color: white" class="badge badge-dark badge-pill">{{identity.tecnologia}}</a>
                          
                          
                          <hr>
                          <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                          <span class="badge badge-success"><i class="fa fa-cog"></i> 78 Forks</span>
                          <span class="badge badge-danger"><i class="fa fa-eye"></i> 345 Views</span>
                      </div>
                      <div class="col-md-12">
                          <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                          <table class="table table-sm table-hover table-striped">
                              <tbody>                                    
                                  <tr>
                                      <td>
                                          <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!--/row-->
              </div>
              <div class="tab-pane" id="messages">
                  <div class="alert alert-info alert-dismissable">
                      <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
                  </div>
                  <table class="table table-hover table-striped">
                      <tbody>                                    
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. 
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus. 
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros. 
                              </td>
                          </tr>
                      </tbody> 
                  </table>
              </div>
              <div class="tab-pane" id="edit">
                  <form  role="registerForm" [formGroup]="registerForm" (ngSubmit)="actualizarUsuario(registerForm.value)">
                      
                    <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
                          <div class="col-lg-9">
                              <input [ngClass]="" formControlName="nombre" class="form-control" type="text" value="{{identity.nombre}}">
                          </div>
                          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">Nombre obligatorio</div>
                    </div>
                      </div>
                     
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
                          <div class="col-lg-9">
                              <input [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" formControlName="apellido" class="form-control" type="text" value="{{identity.apellido}}">
                          </div>
                          <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                            <div *ngIf="f.apellido.errors.required">Apellido obligatorio</div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Numero de Usuario</label>
                        <div class="col-lg-9">
                            <input [ngClass]="{ 'is-invalid': submitted && f.numeroLegajo.errors }" formControlName="numeroLegajo" class="form-control" type="text" value="{{identity.numeroLegajo}}">
                        </div>
                        <div *ngIf="submitted && f.numeroLegajo.errors" class="invalid-feedback">
                          <div *ngIf="f.numeroLegajo.errors.required">Numero de legajo obligatorio</div>
                      </div>
                    </div>


                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Equipo</label>
                      <div class="col-lg-9">
                          <input [ngClass]="{ 'is-invalid': submitted && f.equipo.errors }" formControlName="equipo" class="form-control" type="text" value="{{identity.equipo}}">
                      </div>
                      <div *ngIf="submitted && f.equipo.errors" class="invalid-feedback">
                        <div *ngIf="f.equipo.errors.required">El Equipo es obligatorio</div>
                    </div>
                  </div>


                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Email</label>
                          <div class="col-lg-9">
                              <input  [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" formControlName="correo" class="form-control" type="text" value="{{identity.correo}}">
                          </div>
                          <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                            <div *ngIf="f.correo.errors.required">Correo obligatorio</div>
                            <div *ngIf="f.correo.errors.email">error de formato (xxxx@xxx.com)</div>
                            
                        </div>
                      </div>

                      <div class=" form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Tecnologias</label>
                          <div class="col-lg-9">
                            <ng-multiselect-dropdown formControlName="tecnologias"
                            [placeholder]="'seleccionar una o mas'"
                            [data]="dropdownList"
                            [(ngModel)]="selectedItems"
                            [settings]="dropdownSettings"
                            
                          >
                          </ng-multiselect-dropdown>
                            </div>
                            
                      </div>

                    

          
                      
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Nueva Password</label>
                          <div class="col-lg-9">
                              <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName ="password" class="form-control" type="password" value={{identity.mail}}>
                              
                          </div>
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password obligatorio</div>
                        </div>
                      </div>


                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Confirmar password</label>
                          <div class="col-lg-9">
                              <input [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" formControlName="confirmpassword" class="form-control" type="password"  value="{{identity.mail}}" >
                          </div>
                          <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmpassword.errors.required">Password obligatorio</div>
                            <div *ngIf="f.confirmpassword.errors.mustMatch">Passwords deben coincidir</div>
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label"></label>
                          <div class="col-lg-9">
                              <input type="reset" class="btn btn-danger" value="Cancelar">
                              <button type="submit" class="btn btn-primary">Guardar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-lg-4 order-lg-1 text-center">
          <img src="{{urlGetImagen}}{{identity.imagen}}" class="img-thumbnail" alt="avatar">
           <hr> 
          <label class="custom-file">
                <span class="btn btn-primary btn-file">
                    Seleccionar imagen<input type="file" (change)="subirArchivo($event)">
                </span>
          </label>
          
      </div>
  </div>
</div>
